
<script>
   
  $(document).ready(function(){
      $('#calendar').fullCalendar({
          editable: true,
          header: {
              left: 'prev next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
      lang: 'pt-br',
          defaultView: 'agendaDay',
          height: 10,
          slotMinutes: 15,
          events: "/tasks/get_tasks",
          dragOpacity: "1.5",
    color: 'red',
    textcolor: 'blue',
      });
  });
</script>

<div id='calendar'></div>
