
<script>
  $(document).ready(function(){
      $('#calendar').fullCalendar({
          editable: false,
          slotEventOverlap: false,
          header: {
              left: 'prev next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          lang: 'pt-br',
          defaultView: 'agendaDay',
          height: 500,
          events: "/home/get_tasks",
          dragOpacity: "0.5",
          allDaySlot: true,
      });
  });
</script>

<div id='calendar'></div>


