<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
  		<div class="navbar-header">
  			<%= link_to(session[:unit_name].present? ? session[:unit_name] : t("corporation"), root_path, class: "navbar-brand") %>
  		</div>

  		<% if user_signed_in? %>
        
        <%= render "layouts/menu" %>

      	<ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <strong><%= current_user.email %></strong>
            </a>
          </li>
      	  <li class='active'><%= link_to t("logout", default: "Logout"), destroy_user_session_path, method: :delete %></li>
        </ul>
  		<% end %>
    </div>
  </div>
</header>
